# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://kuvnjxprqegsctfuzpmr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_h1bkj19q44LgRoDt2PZmOg_BtMzw2U4

# Optional: for admin operations (user management)
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key
